@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.banner img {
    height: 500px;
}

.caption {
    color: #000000;
    padding: 0px 450px 150px 0px;
}

.caption h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}

.caption p {
    font-weight: 300;
    font-size: 16px;
}

.coloredCaption {
    color: #7BBC3A;
}

.secondSlider img{
    box-shadow: 120px -100px #3ABC7E;
}
