@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.banner img {
    height: 400px;
}
.banner h3{
    font-size:2rem;
}
.banner p, .bannerLink{
    font-size: 1rem;
    
}
.coloredCaption {
    color: #7BBC3A;
}


/* Mobile device */
@media only screen and (max-width: 885px) {
    .banner h3{
        font-size: 1rem;
    }
    .banner p, .bannerLink{
        font-size: 0.5rem;
    }
}
/* @media only screen and (max-width: 686)  {
    .banner h3{
        font-size: 0.75rem;
    }
    .banner p, .bannerLink{
        font-size: 0.25rem;
    } */
/* } */
