/* .contact {
    position: relative;
    margin: 0%;
    height: 194px;
}
.first-txt {
    position: absolute;
    top: 15px;
    left: 400px;
}

.inputForm {
    position: absolute;
    bottom: 105px;
    left: 350px;
} */

.contactText {
    padding: 100px 0px;
}
.contact img {
    height: 300px;
}
.subscribeBtn {
    color: white;
    background: linear-gradient(90.98deg, #3ABC7E 0.85%, #42D58E 99.49%);
    box-shadow: 0px 1px 16px rgba(58, 188, 126, 0.29);
    border-radius: 5px;
    border: 0;
    padding: 0px 35px;

}
.inputWidth{
    width: 50rem;
}
/* Mobile device */
 @media only screen and (max-width: 768px) {
    .contact img {
        height: 400px;
    }
    .inputWidth{
        width: 15rem;
    }

} 